body {
  margin: 0;
  font-family: "Roboto", Arial, sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  width: 90vw;
  margin: auto;
}
.main h1 {
  text-align: center;
  color: rgb(67, 111, 198);
}
.search {
  display: flex;
  border-radius: 5px;
  width: 100%;
  height: 50px;
}
.search input {
  width: 72%;
  border: none;
  height: 93%;
  font-size: 24px;
  border-radius: 5px 0px 0px 5px;
  outline-color: rgb(157, 157, 120);
  border: 1px solid whitesmoke;
  padding-left: 5px;
  border: 1px solid rgb(67, 111, 198)
}
.search button {
  width: 36%;
  border: none;
  height: 100%;
  border-radius: 0px 5px 5px 0px;
  outline-color: rgb(157, 157, 120);
  cursor: pointer;
  font-size: 16px;
  border: 1px solid rgb(67, 111, 198);
}
.details {
  border: 1px solid whitesmoke;
  background-color: transparent;
  border-radius: 5px;
}
.details p {
  text-align: center;
  color:cadetblue;
  line-height: 2px;
  font-size: 20px;
}

.details h1 {
  text-align: center;
}

.details img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 150px;
  height: 150px;
}
.temp {
  background-color: transparent;
  display: flex;
  justify-content: space-between;
}
.temp p {
  text-align: center;
  line-height: 1px;
  font-size: 20px;
}
.light {
  background-color: white;
  color: black;
}
.dark {
  background-color: black;
  color: white;
}
#app {
  overflow-y: hidden;
  width: 100vw;
  height: 170vh;
}

.switch {
  position: relative;
  width: 50px;
  height: 30px;
  float: left;
  top: -60px;
  left: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 23px;
  width: 24px;
  left: 4px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
.slider.round {
  border-radius: 20px;
}

.slider.round:before {
  border-radius: 50%;
}
.card {
  background-color: rgb(113, 185, 236);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  border-radius: 5px;
}
.card img {
  width: 50px;
  height: 50px;
}
.input_light {
  background-color: white;
}
.input_dark {
  background-color: transparent;
  color: white;
  outline: none;
}
h3{
  text-align: center;
}


@media screen and (max-width: 480px) {
  .container {
    width: 95vw;
  }
}
@media screen and (max-width: 720px) {
  .container {
    width: 90vw;
  }
  .mid_sec h2 {
    font-size: 14px;
  }
  .main h1 {
    font-size: 20px;
  }
  .switch{
    top: 5px;
  }
}
.button {
  transition-duration: 0.4s;
}

.button:hover {
  background-color: cadetblue; 
  color: white;
}
